Package: rockpi-penta
Version: 0.12
Architecture: all
Maintainer: barsikus007 <barsikus07@gmail.com>
Depends: python3 (>= 3.10)
Section: utils
Priority: optional
Homepage: https://github.com/barsikus007/rockpi-penta
Description: Rockpi Penta Hat
